@use "global" as *;
.page-privacypolicy{
    position: relative;
    max-width: rem(600);
    margin-left: auto;
    margin-right: auto;
    @include mq('md'){
        max-width: 100%;
    }
}

.page-privacypolicy::before{
    position: absolute;
    content: '';
    display: inline-block;
    width: rem(120);
    height: rem(55);
    aspect-ratio: 120 / 55;
    background-image: url('../images/common/page-campaign-fish.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: rem(-24);
    left: calc(50% - max(45.5%, rem(172)));
    @include mq('md'){
        width: rem(301);
        height: rem(138);
        aspect-ratio: 301 / 138;
        top: rem(-71);
        left: calc(50% - min(48%, rem(620)));
    }
}

.page-privacypolicy__inner{
    @include mq('md'){
        max-width: rem(800);
        margin: 0 auto;
        }
}

.page-privacypolicy__item{
    margin-top: rem(31);
}

.page-privacypolicy__description{
    line-height: 2;
    margin-top: rem(40);
}

.page-privacypolicy__title{
    font-size: rem(24);
    @include mq('md'){
        font-size: rem(32);
        font-weight: $normal;
    }
}

.privacypolicy-item{
    line-height: 2;
}
.privacypolicy-item__title{
    line-height: 2;
}
.privacypolicy-item__description{
    line-height: 2;
    list-style-type: number;
    padding-left: rem(23);
}


