@use "global" as *;

.top-price{
    padding-top: rem(80);
    padding-bottom: rem(83);
    margin-top: rem(83);
    @include mq('md'){
        padding-top: rem(101);
        padding-bottom: rem(103);
        margin-top: rem(143);
    }
}