@use "global" as *;

// ----------------------------------------
// about.scss
// ----------------------------------------
.about{
    position: relative;
}

.about__inner{
    max-width: rem(600);
}

.about__inner::after{
    display: none;
    @include mq('md'){
        content: '';
        position: absolute;
        display: inline-block;
        bottom: rem(-180);
        left: min(calc(50vw + 40%),  calc(50% + rem(540)));
        transform: translate(-50%, -50%);
        background-image: url('../images/common/sango-about.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        max-width: rem(194);
        aspect-ratio: 194 / 181;
        z-index: 10;
    }
}

.about__bg{
    position: relative;
    display: flex;
    margin-top: rem(28);
    max-width: rem(600);
    width: 100%;
    @include mq('md'){
        margin-top: rem(41);
        max-width: 100%;
    }
}

.about__bg-left{
    position: absolute;
    top: 0;
    left: 0;
    aspect-ratio: 128 / 194;
    max-width: clamp(rem(128), 36.89700%, rem(399));
    width: 100%;
    // height: 100%;
    object-fit: cover;
    z-index: 1;
    @include mq('md'){
        aspect-ratio: 128 / 194;
        max-width: rem(399);
        width: 100%;
    }
}

.about__bg-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__bg-right{
    aspect-ratio: 281 / 186;
    max-width: clamp(rem(281), 81.4814%, rem(509));
    width: 100%;
    // height: 100%;
    object-fit: cover;
    margin-top: rem(26);
    margin-left: rem(63);
    @include mq('md'){
        aspect-ratio: 880 / 581;
        margin-top: rem(80);
        margin-left: rem(200);
        max-width: rem(880);
        width: 100%;
    }
}

.about__bg-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: auto;

}

.about__container{
    margin-top: rem(41);
    z-index: 100;
    @include mq('md'){
        position: absolute;
        display: flex;
        top: rem(227);
        left: calc(50% - rem(340));
        align-items: center;
        max-width: rem(840);
        width: 100%;
    }
}

.about__title{
    color: $accent;
    font-family: $second-font-family;
    font-size: rem(40);
    line-height: 1;
    z-index: 10;
    @include mq('md'){
        color: $white;
        font-size: rem(80);
        line-height: 1.25;
        max-width: rem(400);
        width: 100%;
    }
}

.about__body{
    margin-top: rem(16);
    @include mq('md'){
        margin-left: rem(40);
        margin-top: rem(33);
    }
}

.about__text{
    font-size: rem(16);
    color: $black;
    @include mq('md'){
        color: $white;
        max-width: rem(400);
        width: 100%;
        margin-top: rem(2);
    }
}

.about__button{
    text-align: center;
    margin-top: rem(50);
    @include mq('md'){
        margin-top: rem(41);
    }
}