@use "global" as *;

// ----------------------------------------
// blog-card.scss
// ----------------------------------------
.blog-card{
  // aタグはインライン要素なので高さがない→block要素に変更
  display: block;
  padding-top: rem(16);
  padding-left: rem(16);
  padding-right: rem(16);
  padding-bottom: rem(24);
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
  background-color: $white;
}

@media (hover: hover){
  .blog-card:hover{
    opacity: 0.7;
  }
}

.blog-card__image{
  aspect-ratio: 301 / 201;
}

.blog-card__image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-card__date{
  display: inline-block;
  margin-top: rem(23);
  font-size: rem(12);
  font-family: $second-font-family;
}

.blog-card__title{
  font-size: rem(16);
  font-weight: $normal;
  padding-bottom: rem(3);
  border-bottom: solid 1px $accent;
  margin-top: rem(1);
  @include mq('md'){
    margin-top: 0;
    padding-bottom: rem(4);
  }
}

.blog-card__text{
  font-size: rem(16);
  margin-top: rem(16);
}