@use "global" as *;

.blog-column {
    width: 100%;
    max-width: rem(600);
    margin-left: auto;
    margin-right: auto;

    @include mq('md') {
        display: grid;
        grid-template-columns: 1fr 0.52974fr;
        max-width: 100%;
    }
}

.blog-column__pagination{
    margin-top: rem(75);
}

.blog-column__pagination--single{
    margin-top: rem(40);

    @include mq('md') {
        margin-top: rem(80);
    }
}