@use "global" as *;

// ----------------------------------------
// blog-card.scss
// ----------------------------------------
.blog-card{
  // aタグはインライン要素なので高さがない→block要素に変更
  display: block;
  padding-top: rem(16);
  padding-left: rem(16);
  padding-right: rem(16);
  padding-bottom: rem(24);
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
  background-color: $white;
}

.blog-card{
  // aタグはインライン要素なので高さがない→block要素に変更
  display: block;
  margin-right: rem(6);
  margin-left: rem(6);
  @include mq('md'){
    margin-right: 0;
    margin-left: 0;
    // max-width: calc(33.33333% - rem(40) * 2 / 3);
    // １行あたりの横幅＝全体の横幅ー余白の合計値÷行数
    max-width: calc((100% - rem(40) * 2) / 3);
  }
}

.blog-card + .blog-card{
  margin-top: rem(40);
  @include mq('md'){
    margin-top: 0;
    margin-left: rem(40);
  }
}

// 4個目、７個目・・・margin-leftが付かなようにする
.blog-card:nth-child(3n + 1){
  @include mq('md'){
    margin-left: 0;
  }
}

// ２行目からはmargin-topが付くようにする
.blog-card:nth-child(n + 4){
  @include mq('md'){
    margin-top: rem(25);
  }
}

@media (hover: hover){
  .blog-card:hover{
    opacity: 0.7;
  }
}

.blog-card__image{
  aspect-ratio: 301 / 201;
  position: relative;
  overflow: hidden;
}

.blog-card__image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.blog-card__image:hover img{
  transform: scale(1.2);
}

.blog-card__body{
  margin-top: rem(17);
}

.blog-card__date{
  display: inline-block;
  // margin-top: rem(23);
  font-size: rem(12);
  font-family: $second-font-family;
}

.blog-card__title{
  font-size: rem(16);
  font-weight: $normal;
  padding-bottom: rem(3);
  border-bottom: solid 1px $accent;
  @include mq('md'){
    padding-bottom: rem(4);
  }
}

.blog-card__text{
  font-size: rem(16);
  margin-top: rem(16);
}

// ----------------------------------------
// ブログ一覧用のカード
// ----------------------------------------
.blog-card.blog-card--page-blog{
  margin-right: 0;
  margin-left: 0;
  @include mq('md'){
    max-width: calc((100% - rem(40)) / 2);
  }
}
// 3個目、5個目・・・margin-leftが付かなようにする
.blog-card.blog-card--page-blog:nth-child(2n + 1){
  @include mq('md'){
    margin-left: 0;
  }
}

// 4個目、７個目・・・margin-leftが付かなようにする を解除
.blog-card:nth-child(3n+4),
.blog-card:nth-child(3n+7),
.blog-card:nth-child(3n+10) {
  @include mq('md'){
    margin-left: rem(40);
  }
}


// ２行目からはmargin-topが付くようにする
.blog-card.blog-card--page-blog:nth-child(n + 3){
  margin-top: rem(40);
  @include mq('md'){
    margin-top: rem(80);
  }
}
