@use "global" as *;

// ----------------------------------------
// faq-item.scss
// ----------------------------------------

.faq-item{
    @include mq('md'){
        max-width: rem(700);
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
}

.faq-item__question-wrapper{
    position: relative;
    background-color: $accent;

}

.faq-item__question{
    color: $white;
    padding-top: rem(15);
    padding-right: rem(16);
    padding-bottom: rem(16);
    padding-left: rem(16);
    @include mq('md'){
        font-size: rem(20);
        padding-top: rem(25);
        padding-right: rem(40);
        padding-bottom: rem(25);
        padding-left: rem(40);
    }
}

.faq-item__icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: rem(16);
    width: rem(28);
    height: rem(28);
    @include mq('md'){
        right: rem(40);
        width: rem(32);
        height: rem(32);    
    }
}

.faq-item__icon.is-open{
    .faq-item__bar2{
        transform: rotate(90deg);
    }
}

.faq-item__bar1{
    width: rem(28);
    height: rem(1);
    background-color: $white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @include mq('md'){
        width: rem(32);
    }
}
.faq-item__bar2{
    // display: none;
    width: rem(1);
    height: rem(28);
    background-color: $white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease;
    @include mq('md'){
        height: rem(32);
    }
}

.faq-item__answer-wrapper{
    border: solid 1px $accent;
    padding-top: rem(24);
    padding-right: rem(16);
    padding-bottom: rem(22);
    padding-left: rem(15);
    @include mq('md'){
        margin-top: rem(16);
        padding-top: rem(39);
        padding-right: rem(40);
        padding-bottom: rem(39);
        padding-left: rem(40);
    }
}

.faq-item__answer{
    line-height: 1.437;
}