@use "global" as *;
@use "sass:math";

// ----------------------------------------
// form.scss
// ----------------------------------------

// remへの計算式（16pxを基準としている。10pxを基準とする場合は16を10に変更する）
@function rem($pixels) {
  @return math.div($pixels, 16) * 1rem;
}
/*デフォルト色の指定*/
$border-cr-default: $accent; //デフォルト時のボーダーの色
$border-cr: $accent; //inputのhover or focus時の色
$back-cr: #fff;//input（テキスト系）の背景色
$sub-accent: #DDF0F1;

/*サイズ等の指定*/
$fz: rem(16);//入力するときのfont-size
$padding-und: rem(7);//paddingの指定（上下） inputの内側の余白で使う
$padding-lnr: rem(15);//paddingの指定（左右） inputの内側の余白で使う
$border-r: 0;//border-radius（テキスト系）

/*ボタン系の指定*/
$fz-btn: rem(14);//送信ボタンのfont-size
$back-cr-btn: transparent linear-gradient(90deg, #7633a4 0%, #250d65 100%) 0% 0% no-repeat padding-box;//ボタンの背景色
$font-cr-btn: white;//ボタンのフォントカラー
$padding-und-btn: rem(20);//paddingの指定（上下） btnの内側の余白で使う
$padding-lnr-btn: rem(72);//paddingの指定（左右） btnの内側の余白で使う
$border-r-btn: rem(50);

/*ラジオボタンの指定*/
$radio-fz: rem(12);//フォントサイズ
$radio-size: rem(18);//外枠の幅高さ
$radio-bg-cr: #fff;//外枠の背景色
$radio-border-cr: #707070;//外枠の色
$radio-size-inner: rem(12);//チェックマーク幅高さ
$radio-bg-cr-inner: #391E88;//チェックマークの背景色
$radio-space: rem(10);//チェックマークと文字の距離
$radio-space-betweenRadio: rem(35);//ラジオボタンの間の距離

/*チェックボックスの指定*/
$check-fz: rem(16);//フォントサイズ
$check-size: rem(14);//外枠の幅高さ
$check-bg-cr: #fff;//外枠の背景色
$check-border-cr: $accent;//外枠の色
$check-bg-cr-inner: #C94800;//チェックマークの背景色
$check-space: rem(8);//チェックマークと文字の距離
$check-space-betweenRadio: rem(40);//ラジオボタンの間の距離
$check-weight: 2px;//チェックマークの線の太さ(px)

/*テキストエリアの指定*/
$textarea-height: rem(200);

[type="text"],
[type="search"],
[type="tel"],
[type="url"],
[type="email"],
[type="password"],
[type="date"],
textarea {
	/*↓リセットCSS */
	border: none;
	border-radius: 0;
	background-image: none;
	font-family: inherit;
	/*↓カスタム */
	margin-top: rem(15);
	font-size: $fz;
	padding: $padding-und $padding-lnr;
	width: 100%;
	background: $back-cr;
	border: 1px solid $border-cr-default;
	border-radius: $border-r;
	color: $black;
	/* プレースホルダー */
	&::placeholder {
		color: $sub-accent;
	}

	/*↓↓↓↓不要ならコメントアウト or 削除 */
	// &:hover {  //ホバーしたときの色
	// 	border: 1px solid $border-cr;
	// }
	/*↓↓選択されているときの色*/
	&:focus {
		// border: 1px solid $border-cr;
		box-shadow: rem(0) rem(0) rem(5) rgba($color: $sub-accent, $alpha: 0.8);
	}

	@include mq('md'){
		margin-top: 0;
		max-width: rem(480);
	}

}

/* エラー時のスタイル */
[type="text"].error,
[type="search"].error,
[type="tel"].error,
[type="url"].error,
[type="email"].error,
[type="password"].error,
[type="date"].error,
textarea.error  {
	border: rem(1) solid #C94800;
	background: rgba(201, 72, 0, 0.20);
	&::placeholder {
		color: $white;
	}
	&:focus {
		box-shadow: rem(0) rem(0) rem(5) rgba($color: #C94800, $alpha: 0.8);
	}
}
// [type="tel"] {
// 	 max-width: rem(200);
// 	width: 100%;
// }

button,
[type="button"],
[type="submit"] {
	/*↓リセットCSS */
	margin: 0;
	background-image: none;
	width: auto;
	display: inline-block;
	text-decoration: none;
	border: none;
	border-radius: 0;
	/*↓カスタム */
	padding: $padding-und-btn $padding-lnr-btn;
	background: $back-cr-btn;
	color: $font-cr-btn;
	font-size: $fz-btn;
	cursor: pointer;
	transition: 0.3s ease;
	border-radius: $border-r-btn;
	line-height: 1;
}

[type="button"]{
	/*↓リセットCSS */
	margin: 0;
	background-image: none;
	text-decoration: none;
	border: none;
	border-radius: 0;
	/*↓カスタム */
	position: relative;
	display: inline-block;
	font-size: rem(14);
	color: $white;
	background-color: $accent;
	border: solid 1px $accent;
	font-family: $second-font-family;
	padding-top: rem(21);
	padding-right: rem(113);
	padding-bottom: rem(17);
	padding-left: rem(53);
	z-index: 1;
}

[type="radio"] {
	display: none;

	+ span {
		display: inline-block;
		position: relative;
		padding: 0 0 0 calc($radio-size + $radio-space);
		margin: 0 $radio-space-betweenRadio 0 0;
		font-size: $radio-fz;
		line-height: 1;
		cursor: pointer;

		&::before {
			position: absolute;
			content: "";
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			background: $radio-bg-cr;
			border: 1px solid $radio-border-cr;
			border-radius: 50%;
			width: $radio-size;
			height: $radio-size;
			display: block;
		}

		&::after {
			opacity: 0;
			transition: 0.3s ease;
		}
	}

	&:checked + span {
		&::after {
			position: absolute;
			content: "";
			top: 50%;
			left: calc(($radio-size - $radio-size-inner) / 2);
			transform: translateY(-50%);
			background: $radio-bg-cr-inner;
			border-radius: 50%;
			width: $radio-size-inner;
			height: $radio-size-inner;
			display: block;
			opacity: 1;
		}
	}
}

[type="checkbox"] {
	display: none;

	+ span {
		display: inline-block;
		position: relative;
		padding: 0 0 0 calc($check-size + $check-space);
		// margin: 0 $check-space-betweenRadio 0 0;
		font-size: $check-fz;
		line-height: 1;
		cursor: pointer;
		transition: 0.3s ease;

		&::before {
			position: absolute;
			content: "";
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			background: $check-bg-cr;
			border: 1px solid $check-border-cr;
			width: $check-size;
			height: $check-size;
			display: block;
		}

		&::after {
			opacity: 0;
			transition: 0.3s ease;
		}
	}

	&:checked + span {
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: rem(1);
			display: block;
			opacity: 1;
			/*チェックマークじゃない場合は以下を変更する*/
			transform: translateY(-50%) rotate(-35deg);
			width: rem(9);
			// width: calc($check-size * 0.9);
			height: rem(5);
			// height: calc($check-size * 0.5);
			margin-top: -0.1em;
			margin-left: 0.1em;
			border-left: $check-weight solid $check-bg-cr-inner;
			border-bottom: $check-weight solid $check-bg-cr-inner;

		}
	}
}
/* エラー時のスタイル */
[type="checkbox"].error {
	+ span::before {
		border: 1px solid #C94800;
		background: rgba(201, 72, 0, 0.20);
}
&:focus {
	+ span::before {
	box-shadow: rem(0) rem(0) rem(5) rgba(201, 72, 0, 0.8);
	}
}
}


select {
	/*↓リセットCSS */
	border-radius: 0;
	font-family: inherit;
	color: inherit;
	border: none;
	cursor: pointer;
	// max-width: rem(480);
	width: 100%;
	/*↓カスタム */
	margin-top: rem(13);
	font-size: rem(12);
	// padding: $padding-und $padding-lnr;
	background-color: $back-cr;
	border: 1px solid $border-cr-default;
	border-radius: $border-r;
	/*↓デフォルトのアイコンを消す場合はコメントアウト（noneにする）*/
	appearance: none;
	/*↓デフォルトではないアイコンを使う場合は入力する*/
	background-image: url('../images/common/contact-select.svg');
	background-position: right 7px top 11px;
	background-repeat: no-repeat;
	&:focus {
		border: 1px solid $border-cr;
	}
	@include mq('md'){
		margin-top: 0;
		max-width: rem(480);
	}
}

[type="date"] {
	position: relative;
	/*↓デフォルトのアイコンを消す場合はコメントアウト（noneにする）*/
	appearance: auto;
	/*↓デフォルトではないアイコンを使う場合は入力する*/
	// background-image: url();
	// background-position: right 12px center;
	// background-repeat: no-repeat;
	&:focus {
		border-color: 1px solid $border-cr;
	}
}

input[type="date"]::-webkit-calendar-picker-indicator {
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
}

textarea {
	height: $textarea-height;
	width: 100%;
	@include mq('md'){
		max-width: rem(480);
	}
}

// ----------------------------------------
// コンタクトフォーム　必須項目未入力の場合のエラー表示
// ----------------------------------------

.page-contact__form-error {
	margin-bottom: rem(39);
	margin-left: rem(27);
	font-size: rem(14);
	text-align: center;
	color: #C94800;
	display: none;
	text-indent: rem(-14);
	@include mq('md'){
		margin-left: rem(10);
		margin-top: rem(-1);
		text-indent: 0;
	}
}

.page-contact__form-error p {
	display: inline-block;
	text-align: left;
}