@use "global" as *;

// ----------------------------------------
// fv.scss
// ----------------------------------------
.fv__swiper{
  position: relative;
}

.fv__header{
  display: inline;
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  margin-top: rem(-6);
  @include mq('md'){
    margin-top: 0;
    padding-left: rem(39);
    margin-top: rem(36);
  }
}

.fv__title{
    font-size: rem(40);
    color: $white;
    letter-spacing: 0.52em;
    font-family: $fourth-font-family;
    margin-left: rem(17);
  @include mq('md'){
    font-size: rem(80);
    margin-left: 0;
  }
}

.fv__subtitle{
  font-size: rem(20);
  color: $white;
  font-family: $fourth-font-family;
  margin-top: rem(-4);
  margin-left: rem(-6);
  letter-spacing: 0.05em;
  @include mq('md'){
  margin-top: rem(-10);
  margin-left: rem(-39);
}
}

// ----------------------------------------
// 画像の比率管理
// ----------------------------------------
.fv__img{
  height: 100vh;
  position: relative;
}

.fv__img::before{
  content: "";
  display: block;
  padding-top: 177.8666666%;
  // height: inherit;
  @include mq('md'){
    padding-top: 53.333333%;
  }
}

.fv__img img{
  height: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  @include mq('md'){
  }
}
