@use "global" as *;

// ----------------------------------------
// fv-animation.scss
// ----------------------------------------
/* Loading背景画面設定　*/
.fv-animation{
/*fixedで全面に固定*/
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 999;
    background: $white;
    text-align:center;
    }

.fv-animation__text{
    display: inline;
    position: absolute;
    // z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: rem(-6);
    @include mq('md'){
        margin-top: 0;
        padding-left: rem(39);
        margin-top: rem(36);
    }
    }

    .fv-animation__title{
        font-size: rem(40);
        color: $accent;
        letter-spacing: 0.52em;
        font-family: $fourth-font-family;
        margin-left: rem(17);
    @include mq('md'){
        font-size: rem(80);
        margin-left: 0;
    }
    }

    .fv-animation__subtitle{
    font-size: rem(20);
    color: $accent;
    font-family: $fourth-font-family;
    margin-top: rem(-4);
    margin-left: rem(-6);
    letter-spacing: 0.05em;
    @include mq('md'){
    margin-top: rem(-10);
    margin-left: rem(-39);
    }
}

.fv-animation__left, .fv-animation__right{
    height: 100vh;
}

.fv-animation__left img{
    aspect-ratio: 375 / 667;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 100% 50%;
    position: absolute;
    top: 0;
    right: 50%;
    @include mq('md'){
        aspect-ratio: 720 / 768;
    }
}

.fv-animation__right img{
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 50%;
    aspect-ratio: 375 / 667;
    @include mq('md'){
        aspect-ratio: 720 / 768;
    }
}

/* fadeUpをするアイコンの動き */
.fadeUp-left{
    animation-name: fadeUpAnime-left;
    animation-duration:1.5s;
    animation-delay: 1s;
    animation-fill-mode:forwards;
    animation-timing-function: ease-out;
    opacity: 0;
}

@keyframes fadeUpAnime-left{
    from {
    opacity: 0;
    transform: translateY(100%);
    }

    to {
    opacity: 1;
    transform: translateY(0);
    }
}

.fadeUp-right{
    animation-name: fadeUpAnime-right;
    animation-duration:1.5s;
    animation-delay: 1s;
    animation-fill-mode:forwards;
    animation-timing-function: ease-out;
    opacity: 0;
    }

@keyframes fadeUpAnime-right{
    from {
    opacity: 0;
    transform: translateY(calc(100% + rem(80)));
    scale: 0.1;
    }

    to {
    opacity: 1;
    transform: translateY(0);
    scale: 1.0;
    }
}