@use "global" as *;

// ----------------------------------------
// gallery.scss
// ----------------------------------------
.gallery{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: dense;
    gap: rem(8);
    @include mq('md'){
        grid-template-columns: 1fr 0.1626fr 1fr;
    }
}

.gallery__item{
    aspect-ratio: 345 / 219;
    width: 100%;
    // height: auto;
    grid-column: span 2;
    @include mq('md'){
        aspect-ratio: 580 / 369;
    }
}

.gallery__item img{
    width: 100%;
    // height: 100%;
    // object-fit: cover;


    cursor: pointer;
}

.gallery__item:nth-of-type(6n + 1),
.gallery__item:nth-of-type(6n){
    aspect-ratio: 523 / 345;
    @include mq('md'){
        width: 100%;
        // height: auto;
        grid-column: span 1;
        grid-row: span 2;
        aspect-ratio: 492 / 746;
    }
}

.gallery__item img:nth-of-type(6n + 1),
.gallery__item img:nth-of-type(6n){
    width: 100%;
    // height: 100%;
    object-fit: cover;
}

.modal-window-image{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(32, 32, 32, 0.80);
    cursor: pointer;
    z-index: 1000;
}

.modal-window-image img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: auto;
        @include mq('md'){
            width: auto;
            height:76.30%;
        }
}