@use "global" as *;

// ----------------------------------------
// information.scss
// ----------------------------------------
.information{
  background-color: $sub-accent;
}

.information__inner{
  max-width: rem(600);
  @include mq('md'){
    max-width: 100%;
  }
}

.information__image{
  aspect-ratio: 345 / 227;
  @include mq('md'){
    aspect-ratio: 540 / 356;
  }
}

.information__image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  @include mq('md'){
    max-width: rem(540);
  }
}

.information__wrapper{
  margin-top: rem(28);
  @include mq('md'){
    display: flex;
    margin-top: rem(40);
  }
}

.information__body{
  @include mq('md'){
    margin-left: rem(48);
    max-width: rem(492);
    width: 100%;
  }
}

.information__title{
  font-size: rem(20);
  margin-top: rem(22);
  margin-bottom: rem(4);
  border-bottom: solid 1px $accent;
  @include mq('md'){
    font-size: rem(24);
    margin-top: rem(54);
    margin-bottom: 0;
    padding-bottom: rem(3);
  }
}

.information__text{
  margin-top: rem(8);
}

.information__button{
  text-align: center;
  margin-top: rem(39);
  @include mq('md'){
    margin-top: rem(40);
  }
}
