@use "global" as *;

// ----------------------------------------
// page-thanks.scss
// ----------------------------------------
.page-thanks{
    position: relative;
    max-width: rem(600);
    margin-left: auto;
    margin-right: auto;
    @include mq('md'){
        max-width: 100%;
    }
}

.page-thanks::before{
    position: absolute;
    content: '';
    display: inline-block;
    width: rem(120);
    height: rem(55);
    aspect-ratio: 120 / 55;
    background-image: url('../images/common/page-campaign-fish.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: rem(-20);
    left: calc(50% - max(45.5%, rem(172)));
    @include mq('md'){
        width: rem(301);
        height: rem(138);
        aspect-ratio: 301 / 138;
        top: rem(-71);
        left: calc(50% - min(48%, rem(620)));
    }
}

.page-thanks__content{
    @include mq('md'){
        max-width: rem(700);
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    
    }
}

.page-thanks__completion{
    text-align: center;
    margin-top: rem(-4);
}

.page-thanks__text{
    text-align: center;
    margin-top: rem(35);
}