@use "global" as *;

// ----------------------------------------
// page-about.scss
// ----------------------------------------
.page-about{
    position: relative;
}

.page-about::before{
    position: absolute;
    content: '';
    display: inline-block;
    width: rem(120);
    height: rem(55);
    aspect-ratio: 120 / 55;
    background-image: url('../images/common/page-campaign-fish.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: rem(-24);
    left: calc(50% - max(45.5%, rem(172)));
    @include mq('md'){
        width: rem(301);
        height: rem(138);
        aspect-ratio: 301 / 138;
        top: rem(-71);
        left: calc(50% - min(48%, rem(620)));
        // z-index: 10;
    }
}

.page-about__bg{
    position: relative;
    display: flex;
    margin-top: rem(28);
    max-width: rem(600);
    width: 100%;
    @include mq('md'){
        margin-top: rem(41);
        max-width: 100%;
    }
}

.page-about__bg-left{
    display: none;
    // aspect-ratio: 128 / 194;
    // max-width: clamp(rem(128), 36.89700%, rem(399));
    // width: 100%;
    // height: 100%;
    @include mq('md'){
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        aspect-ratio: 128 / 194;
        max-width: rem(399);
        width: 100%;
        object-fit: cover;
    }
}

.page-about__bg-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page-about__bg-right{
    aspect-ratio: 345 / 228;
    // max-width: clamp(rem(281), 81.4814%, rem(509));
    width: 100%;
    // height: 100%;
    object-fit: cover;
    // margin-top: rem(26);
    // margin-left: rem(63);
    @include mq('md'){
        aspect-ratio: 880 / 581;
        margin-top: rem(80);
        margin-left: rem(200);
        max-width: rem(880);
        width: 100%;
    }
}

.page-about__bg-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include mq('md'){
        margin-left: auto;
    }
}

.page-about__container{
    margin-top: rem(41);
    z-index: 100;
    @include mq('md'){
        position: absolute;
        display: flex;
        top: rem(158);
        left: calc(50% - rem(340));
        align-items: center;
        max-width: rem(840);
        width: 100%;
    }
}

.page-about__title{
    color: $white;
    font-family: $second-font-family;
    font-size: rem(40);
    line-height: 1;
    z-index: 10;
    position: absolute;
    top: rem(24);
    left: rem(39);
    @include mq('md'){
        position: static;
        // color: $white;
        font-size: rem(80);
        line-height: 1.25;
        max-width: rem(400);
        width: 100%;
    }
}

.page-about__body{
    margin-top: rem(16);
    @include mq('md'){
        margin-left: rem(40);
        margin-top: rem(33);
    }
}

.page-about__text{
    font-size: rem(16);
    color: $black;
    @include mq('md'){
        color: $white;
        max-width: rem(400);
        width: 100%;
        margin-top: rem(-37);
    }
}