@use "global" as *;

// ----------------------------------------
// pagination.scss
// ----------------------------------------
.page-campaign__pagination{
    margin-top: rem(83);
    @include mq('md'){
        margin-top: rem(75);
    }
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: rem(7);
}
.pagination__link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: rem(38);
    height: rem(38);
    background: #fff;
    border: solid 1px $accent;
    font-size: rem(16);
    color: $accent;
    font-weight: $bold;
    font-family: $fourth-font-family;
    transition: all 0.15s linear;
}

.pagination__link-icon{
    border: none;
}

.pagination__link.is-active {
    background: $accent;
    color: $white;
    pointer-events: none;
}

.pagination__link:not(.is-active):hover {
    background: $accent;
    color: #fff;
}
.pagination > * + * {
    margin-left: rem(6);
    margin-right: rem(6);
}

.pagination__item:first-child{
    margin-right: rem(34);
}

.pagination__item:last-child{
    margin-left: rem(34);
}


.pagination--detail{
    @include mq('md'){
        margin-left: rem(-22);
    }
}

.pagination__item--detail:first-child{
    margin-right: rem(40);
}

.pagination__item--detail:last-child{
    margin-left: rem(41);
}