@use "global" as *;

// ----------------------------------------
// page-price.scss
// ----------------------------------------
.page-price{
    position: relative;
    max-width: rem(600);
    margin-left: auto;
    margin-right: auto;
    @include mq('md'){
        max-width: 100%;
    }
}
.page-price__inner {
    margin-inline: auto;

    @include mq('md') {
        max-width: rem(700);
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

}

.page-price::before{
    position: absolute;
    content: '';
    display: inline-block;
    width: rem(120);
    height: rem(55);
    aspect-ratio: 120 / 55;
    background-image: url('../images/common/page-campaign-fish.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: rem(-24);
    left: calc(50% - max(45.5%, rem(172)));
    @include mq('md'){
        width: rem(301);
        height: rem(138);
        aspect-ratio: 301 / 138;
        top: rem(-71);
        left: calc(50% - min(48%, rem(620)));
    }
}

.page-price__table + .page-price__table{
    margin-top: rem(40);
    @include mq('md'){
        margin-top: rem(80);
    }
}
