@use "global" as *;

// ----------------------------------------
// pc-nav.scss
// ----------------------------------------
.pc-nav{
  height: inherit;
  display: none;
  @include mq('md'){
    display: block;
  }
}

.pc-nav__items{
  height: inherit;
  display: flex;
  align-items: center;
}

.pc-nav__item{
  height: inherit;
  color: #fff;

}

.pc-nav__item a{
  height: inherit;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 min(20px, 1.4vw);
  white-space: nowrap;/*中途半端なサイズで文字列の折り返しを禁止*/
  font-size: rem(18);
  font-family: $second-font-family;
  position: relative; /*ホバー時下線表示の位置を決めるための基準 */
}

.pc-nav__item span{
  display: block;
  font-size: rem(10);
  font-family: $base-font-family;
}

// ----------------------------------------
// ホバー時下線表示
// ----------------------------------------
.pc-nav__item a::after {
  position: absolute;
  left: rem(20);
  bottom: rem(20);
  content: '';
  width: calc(100% - rem(40));
  height: rem(1);
  background: #fff;
  visibility: hidden;
  /*アニメーションの指定*/
  transition: all .3s;
  transform: scale(0, 1);/*X方向0、Y方向1*/
  transform-origin: center top;/*上部中央基点*/
}

@media (hover: hover){
  .pc-nav__item a:hover::after{
    visibility: visible;
    transform: scale(1, 1);/*X方向にスケール拡大*/
  }
}