@use "global" as *;

// ----------------------------------------
// sub-mv.scss
// ----------------------------------------
.sub-mv{
    width: 100%;
    height: rem(460);
    background-image: url(../images/common/page-campaign-mv.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include mq('md'){
        height: rem(548);
        }
}

.sub-mv__title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: rem(206);
    @include mq('md'){
        padding-top: rem(274);
        }
}

.section-header__title--white{
    color: $white;
}

.section-header__title--white::first-letter{
    color: $white;
}