@use "global" as *;

// ----------------------------------------
// sub-mv-header.scss
// ----------------------------------------
.sub-mv-header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include mq('md'){
      padding-top: rem(90);
    }
}

.sub-mv-header__title{
    font-size: rem(40);
    color: $white;
    font-family: $fourth-font-family;
    @include mq('md'){
        font-size: rem(80);
    }
}