@use "global" as *;

// ----------------------------------------
// tab-area.scss
// ----------------------------------------
// ----------------------------------------
// タブメニュー
// ----------------------------------------
/*エリアの表示非表示と形状*/
.tab-area {
	display: none;/*はじめは非表示*/
	opacity: 0;/*透過0*/
	background: #fff;
	margin-top: rem(40);
}

/*tab-areaにis-activeというクラスがついた時の形状*/
.tab-area.is-active {
    display: block;/*表示*/
    animation-name: displayAnime;/*ふわっと表示させるためのアニメーション*/
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes displayAnime{
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.tab-area__items{
    display: grid;
    grid-template-columns: clamp(rem(280), rem(-26.128) + 81.633vw, rem(600));
    // grid-template-columns: rem(280);
    row-gap: rem(35);
    justify-content: center;
    @include mq('md'){
        column-gap: rem(40);
        row-gap: rem(76);
        grid-template-columns: 1fr 1fr;

    }
}

.tab-area__items--information{
    @include mq('md'){
        grid-template-columns: 1fr;
    }
}