@use "global" as *;

// ----------------------------------------
// voice.scss
// ----------------------------------------
.voice{
    position: relative;
}

.voice::after{
    display: none;
    @include mq('md'){
        position: absolute;
        content: '';
        display: inline-block;
        width: rem(301);
        height: rem(138);
        aspect-ratio: 301 / 138;
        background-image: url('../images/common/fish-voice.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        top: rem(-121);
        left: calc(50% - min(48%, rem(620)));
        // left: clamp(calc(50% - rem(620)), calc(50vw - 43%), calc(50vw - 20%));
        // width: 100%;
        // max-width: rem(301);
        z-index: 10;
    }
}

.voice::before{
    display: none;
    @include mq('md'){
        content: '';
        position: absolute;
        display: inline-block;
        width: rem(71);
        height: rem(162);
        aspect-ratio: 71 / 162;
        background-image: url('../images/common/tatu-voice.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        bottom: rem(-70);
        right: calc(50% - min(48%, rem(540)));
        z-index: 10;
    }
}

.voice__inner{
    max-width: rem(600);
}

.voice__items{
    margin-top: rem(45);
    @include mq('md'){
        margin-top: rem(30);
    }
}

.voice-cards{
    @include mq('md'){
        display: flex;
        // カードが３個だと良い感じだけど４個になると表示崩れ
        // flex-wrap: wrap;で４個目は改行されるように
        flex-wrap: wrap;
    }
}

.voice-card{
    width: 100%;
    @include mq('md'){
       // max-width: calc(33.33333% - rem(40) * 1 / 2);
        // １行あたりの横幅＝全体の横幅ー余白の合計値÷行数
        width: calc((100% - rem(40) * 1) / 2);
    }
}

.voice-card + .voice-card{
    margin-top: rem(40);
    @include mq('md'){
        margin-left: rem(40);
        margin-top: 0;
    }
}

// 1個目,3個目、5個目・・・margin-leftが付かなようにする
.voice-card:nth-child(2n + 1){
        @include mq('md'){
        margin-left: 0;
    }
}

// ２行目からはmargin-topが付くようにする
.voice-card:nth-child(n + 3){
        @include mq('md'){
        margin-top: rem(80);
    }
}

.voice__button{
    margin-top: rem(40);
    text-align: center;
    @include mq('md'){
        margin-top: rem(81);
    }
}

