@use "global" as *;

// ----------------------------------------
// voice.scss
// ----------------------------------------
.voice{
    position: relative;
}

.voice__inner{
    max-width: rem(600);
}

.voice__inner::after{
    display: none;
    @include mq('md'){
        content: '';
        position: absolute;
        display: inline-block;
        top: rem(22);
        left: clamp(calc(50% - rem(620)), calc(50vw - 43%), calc(50vw - 20%));
        background-image: url('../images/common/fish-voice.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        max-width: rem(301);
        aspect-ratio: 301 / 138;
        z-index: 10;
    }
}

.voice__illustration::before{
    display: none;
    @include mq('md'){
        content: '';
        position: absolute;
        display: inline-block;
        bottom: rem(-70);
        left: min(calc(50vw + 40%),  calc(50% + rem(470)));
        background-image: url('../images/common/tatu-voice.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        max-width: rem(71);
        aspect-ratio: 71 / 162;
        z-index: 10;
    }
}

.voice__items{
    margin-top: rem(45);
    @include mq('md'){
        margin-top: rem(30);
        display: flex;
        // カードが３個だと良い感じだけど４個になると表示崩れ
        // flex-wrap: wrap;で４個目は改行されるように
        flex-wrap: wrap;
    }
}

.voice__item{
    @include mq('md'){
       // max-width: calc(33.33333% - rem(40) * 1 / 2);
        // １行あたりの横幅＝全体の横幅ー余白の合計値÷行数
        max-width: calc((100% - rem(40) * 1) / 2);
    }
}

.voice__item + .voice__item{
    margin-top: rem(40);
    @include mq('md'){
        margin-left: rem(40);
        margin-top: 0;
    }
}

// 1個目,3個目、5個目・・・margin-leftが付かなようにする
.voice__item:nth-child(2n + 1){
        @include mq('md'){
        margin-left: 0;
    }
}

// ２行目からはmargin-topが付くようにする
.voice__item:nth-child(n + 3){
        @include mq('md'){
        margin-top: rem(25);
    }
}

.voice__button{
    margin-top: rem(40);
    text-align: center;
    @include mq('md'){
        margin-top: rem(81);
    }
}